{:paths ["src" "resources"]
 :deps {org.clojars.lispyclouds/contajners {:local/root "."}}
 :tasks {:requires ([clojure.string :as str]
                    [contajners.core :as c]
                    [babashka.curl :as curl])
         :init     (do)
         :leave    (let [{:keys [:private :name]} (current-task)]
                     (when-not private
                       (binding [*out* *err*]
                         (println "✓" name))))
         curl {:doc "Use bb curl to get docker images"
               :task (let [a "c"]
                       (println (curl/request  {:debug true
                                                :url "http://localhost/v1.41/images/json"
                                                :raw-args ["--unix-socket"
                                                           "/var/run/docker.sock"]})))}
         categories {:doc "Use contajners to get docker images"
                     :task (let [categories (c/categories :docker "v1.41")
                                 images-docker (c/client {:engine   :docker
                                                          :category :images
                                                          :version  "v1.41"
                                                          :conn     {:uri "/var/run/docker.sock"}})]
                            ;;  (println categories)
                            ;;  (println (c/ops images-docker))
                            ;;  (println (c/doc images-docker :ImageCreate))
                             (c/invoke images-docker {:op :ImageList}))}}}
