{:paths   ["src" "resources"]
 :deps    {org.clojure/data.json           {:mvn/version "2.4.0"}
           unixsocket-http/unixsocket-http {:mvn/version "1.0.8"}}
 :aliases {:fetch-api {:replace-paths ["fetch_api"]
                       :extra-deps    {io.swagger.parser.v3/swagger-parser {:mvn/version "2.0.27"}
                                       java-http-clj/java-http-clj         {:mvn/version "0.4.2"}}
                       :exec-fn       main/run}}}
