{:paths   ["src" "resources"]
 :deps    {org.clojure/data.json           {:mvn/version "2.4.0"}
           unixsocket-http/unixsocket-http {:mvn/version "1.0.10"}
           into-docker/pem-reader          {:mvn/version "1.0.2"}
           com.squareup.okhttp3/okhttp-tls {:mvn/version "4.9.2"}}
 :aliases {:fetch-api {:replace-paths ["fetch_api"]
                       :extra-deps    {io.swagger.parser.v3/swagger-parser {:mvn/version "2.0.28"}
                                       java-http-clj/java-http-clj         {:mvn/version "0.4.3"}}
                       :exec-fn       main/run}
           :test      {:extra-deps {lambdaisland/kaocha                 {:mvn/version "1.60.945"}
                                    org.clojure/test.check              {:mvn/version "1.1.0"}
                                    io.swagger.parser.v3/swagger-parser {:mvn/version "2.0.28"}
                                    java-http-clj/java-http-clj         {:mvn/version "0.4.3"}}
                       :main-opts  ["-m" "kaocha.runner" "--reporter" "kaocha.report.progress/report"]}}}
