{:paths ["src" "resources"]
 :deps {org.clojure/data.json {:mvn/version "2.5.2"}
        unixsocket-http/unixsocket-http {:mvn/version "1.0.14"}
        into-docker/pem-reader {:mvn/version "1.0.2"}
        com.squareup.okhttp3/okhttp-tls {:mvn/version "5.3.2"}}
 :aliases {:fetch-api {:replace-paths ["fetch_api"]
                       :extra-deps {io.swagger.parser.v3/swagger-parser {:mvn/version "2.1.37"}
                                    org.babashka/http-client {:mvn/version "0.4.23"}}
                       :exec-fn main/run
                       :jvm-opts ["--enable-preview"]}
           :test {:extra-paths ["test" "fetch_api"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               io.swagger.parser.v3/swagger-parser {:mvn/version "2.1.37"}
                               org.babashka/http-client {:mvn/version "0.4.23"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.11" :git/sha "c6c670a"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
