#kaocha/v1
 {:color?       true
  :reporter     [kaocha.report/documentation]
  :fail-fast?   true
  :kaocha/tests [{:kaocha.testable/id   :unit
                  :kaocha/ns-patterns   ["-test$"]
                  :kaocha.testable/type :kaocha.type/clojure.test
                  :kaocha/source-paths  ["fetch_api"]
                  :kaocha/test-paths    ["fetch_api"]}]}
