{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Getting Started" {:file "doc/000-getting-started.md"}]
                   ["API" {:file "doc/001-api.md"}]
                   ["General Guidelines" {:file "doc/002-general-guidelines.md"}]]}
